<section class="p-6 bg-gray-950" id="contact">
    <div class="container max-w-5xl p-4 mx-auto text-center">
      <h2 class="text-5xl font-bold leading-none sm:text-7xl">Contact</h2>
    </div>
    <form class="container w-full max-w-6xl p-8 mx-auto space-y-6 rounded-md shadow ">
      <div class="grid grid-cols-3">
        <div>
          <input
            id="name"
            type="text"
            placeholder="Adinette D. DOUGLOUI"
            class="flex items-center justify-center text-center text-white w-full p-4 rounded-full bg-fuchsia-800"
          />
        </div>
        <div class="mx-6">
          <input
            id="email"
            type="email"
            placeholder="adinettedougloui@gmail.com"
            class="flex items-center justify-center text-center text-white w-full p-4 rounded-full bg-fuchsia-800"
          />
        </div>
        <div>
          <input
            id="tel"
            type="tel"
            placeholder="+229 0151998799"
            class="flex items-center justify-center text-center text-white w-full p-4 rounded-full bg-fuchsia-800"
          />
        </div>
      </div>
    </form>
  </section>