<section class="p-6 bg-gray-950" id="contact">
    <div class="container max-w-5xl p-4 mx-auto text-center">
      <h2 class="text-7xl font-bold leading-none sm:text-7xl">Contact</h2>
    </div>
    <form class="container w-full max-w-xl p-8 mx-auto space-y-6 rounded-md shadow ">
      <div>
        <label for="name" class="block mb-1 ml-1">
          Name
        </label>
        <input
          id="name"
          type="text"
          placeholder="Your name"
          class="block w-full p-2 rounded-full bg-fuchsia-800"
        />
      </div>
      <div>
        <label for="email" class="block mb-1 ml-1">
          Email
        </label>
        <input
          id="email"
          type="email"
          placeholder="Your email"
          class="block w-full p-2 rounded-full bg-fuchsia-800"
        />
      </div>
      <div>
        <label for="message" class="block mb-1 ml-1">
          Message
        </label>
        <textarea
          id="message"
          placeholder="Message..."
          class="block w-full p-2 rounded-full bg-fuchsia-800"
        ></textarea>
      </div>
      <div>
        <button
          type="submit"
          class="w-full px-4 py-2 font-bold rounded-full bg-fuchsia-600 focus:bg-fuchsia-800 hover:bg-fuchsia-800 dark:text-gray-50"
        >
          Send
        </button>
      </div>
    </form>
  </section>