---
export interface Item {
  id: number;
  name: string;
  href: string;
}

export const items: Item[] = [
  { id: 1, name: "About", href: "#about" },
  { id: 2, name: "My skills", href: "#skills" },
  { id: 3, name: "My projects", href: "#projects" },
  { id: 4, name: "Contact", href: "#contact" }
];
---
<nav class="pt-4 fixed w-full z-20 top-0 start-0 ">
	<div id="navbar" class="xl:max-w-screen-xl md:max-w-5xl sm:max-w-lg flex flex-wrap items-center justify-between mx-auto p-4 border-solid border-cyan-800 border-1 bg-slate-950 rounded-full">
	  <a
		href="/"
		class="flex items-center space-x-3 rtl:space-x-reverse"
	  >
		<span class="self-center xl:text-xl md:text-md font-semibold whitespace-nowrap dark:text-white">
		  Adinette
		</span>
	  </a>
	  <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
		<button
		  type="button"
		  class="text-white bg-fuchsia-600 hover:bg-fuchsia-600 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 font-semibold rounded-full xl:text-xl md:text-md px-8 py-3 text-center dark:bg-fuschia-900 dark:hover:bg-fuschia-900 dark:focus:ring-fuschia-900"
		>
		  Contact me
		</button>
		<button
		  data-collapse-toggle="navbar-sticky"
		  type="button"
		  class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
		  aria-controls="navbar-sticky"
		  aria-expanded="false"
		  >
		  <span class="sr-only">Open main menu</span>
		  <svg
			class="w-5 h-5"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 17 14"
		  >
			<path
			  stroke="currentColor"
			  stroke-linecap="round"
			  stroke-linejoin="round"
			  stroke-width="2"
			  d="M1 1h15M1 7h15M1 13h15"
			/>
		  </svg>
		</button>
	  </div>
	  <div
		class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
		id="navbar-sticky"
	  >
		<ul class="flex flex-row justify-center mt-4 md:mt-0 font-medium md:space-x-8 rtl:space-x-reverse">
		  {items.map((item:any) => (
			<li>
			  <a
				href={item.href}
				class="block xl:text-xl md:text-md py-2 pl-3 pr-4 text-white hover:border-b-4 hover:border-fuchsia-600"
				aria-current="page"
			  >
				{item.name}
			  </a>
			</li>
		  ))}
		</ul>
	  </div>
	</div>
  </nav>

  <script>
	document.addEventListener('DOMContentLoaded', () => {
	  const toggleButton = document.querySelector('[data-collapse-toggle="navbar-sticky"]');
	  const menu = document.getElementById('navbar-sticky');
  
	  toggleButton?.addEventListener('click', () => {
		menu?.classList.toggle('hidden');
	  });
	});
	if (window.innerWidth < 768) {
		document.getElementById('navbar')?.classList.remove('rounded-full');
		document.getElementById('navbar')?.classList.add('rounded-lg');
	}
  </script>
  
  
