---
import { Image } from 'astro:assets';
import html from '../assets/html.svg';
import css from '../assets/css.svg';
import js from '../assets/javascript.svg';
import react from '../assets/reactjs.svg';
import next from '../assets/nextjs.svg';
import vue from '../assets/vuejs.svg';
import nuxt from '../assets/nuxt.svg';
import tailwind from '../assets/tailwindcss.svg';
import bootstrap from '../assets/bootstrap.svg';
import sass from '../assets/sass.svg';
import github from '../assets/github.svg';
import gitlab from '../assets/gitlab.svg';
import bitbucket from '../assets/bitbucket.svg';
import jira from '../assets/jira.svg';
import aws from '../assets/aws.svg';
import ionic from '../assets/ionic.svg';
import vscode from '../assets/vscode.svg';
import swagger from '../assets/swagger.svg';

export interface Item {
  id: number;
  img: any;
}

export const skills: Item[] = [
    { id: 1, img: html },
    { id: 2, img: css },
    { id: 3, img: js },
    { id: 4, img: react },
    { id: 5, img: next },
    { id: 6, img: vue },
    { id: 7, img: nuxt },
    { id: 8, img: tailwind },
    { id: 9, img: bootstrap },
    { id: 10, img: sass },
    { id: 11, img: github },
    { id: 12, img: gitlab },
    { id: 13, img: bitbucket },
    { id: 14, img: jira },
    { id: 15, img: aws },
    { id: 16, img: ionic },
    { id: 17, img: vscode },
    { id: 18, img: swagger },
];
---
<section class="mt-10" id="skills">
    <div class="container max-w-5xl p-4 mx-auto text-center">
      <h2 class="text-5xl font-bold leading-none  sm:text-7xl">
        My Skills
      </h2>
    </div>
    <div class="container mt-8 max-w-5xl flex flex-wrap justify-center mx-auto dark:text-gray-600">
      {skills.map((item: any) => (
        <div class="flex justify-center w-1/2 p-6 align-middle md:w-1/3 xl:w-1/4">
          <Image src={item.img} alt="dot" width="100" height="100" class="hover:scale-150 duration-300" />
        </div>
      ))}
    </div>
  </section>